<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Local stats/counters -->
	<bean id="TSC_LOCAL" class="com.github.ddth.tsc.mem.InmemCounterFactory"
		init-method="init" destroy-method="destroy" lazy-init="false">
	</bean>
	<!-- Global stats: un-comment bean TSC_GLOBAL to enable global stats/counters 
		(e.g. in case there are more than 1 running id-servers for load balancing) -->
	<!-- <bean id="TSC_GLOBAL" class="com.github.ddth.tsc.redis.RedisCounterFactory" 
		init-method="init" destroy-method="destroy" lazy-init="false"> <property 
		name="host" value="localhost" /> <property name="port" value="6379" /> <property 
		name="redisPoolConfig"> <bean class="com.github.ddth.redis.PoolConfig"> <property 
		name="maxActive" value="2" /> <property name="minIdle" value="1" /> </bean> 
		</property> </bean> -->

	<bean id="ID_API" class="api.IdApi" lazy-init="false" init-method="init"
		destroy-method="destroy" scope="singleton">
		<property name="defaultEngine" ref="ENGINE_SNOWFLAKE" />

		<!-- Set to true to enable engine, false to disable -->
		<property name="engineJdbcEnabled" value="true" />
		<property name="engineRedisEnabled" value="true" />
		<property name="engineSnowflakeEnabled" value="true" />
		<property name="engineZookeeperEnabled" value="true" />
	</bean>

	<bean id="ENGINE_JDBC" class="engine.JdbcIdEngine" lazy-init="true"
		init-method="init" destroy-method="destroy">
		<property name="idGenerator">
			<bean class="com.github.ddth.id.JdbcIdGenerator" init-method="init"
				destroy-method="destroy">
				<property name="tableName" value="id_server" />
				<property name="dataSource">
					<bean class="org.apache.commons.dbcp2.BasicDataSource"
						destroy-method="close">
						<property name="driverClassName" value="com.mysql.jdbc.Driver" />
						<property name="url"
							value="jdbc:mysql://localhost:3306/temp?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
						<property name="username" value="test" />
						<property name="password" value="test" />
						<property name="defaultAutoCommit" value="false" />
						<property name="initialSize" value="2" />
						<property name="maxConnLifetimeMillis" value="180000" />
						<property name="maxWaitMillis" value="10000" />
						<property name="minIdle" value="2" />
						<property name="maxTotal" value="4" />
						<property name="poolPreparedStatements" value="false" />
						<property name="testOnBorrow" value="true" />
						<property name="testWhileIdle" value="true" />
						<property name="validationQuery" value="SELECT 1" />
						<property name="validationQueryTimeout" value="1" />
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="ENGINE_REDIS" class="engine.RedisIdEngine" lazy-init="true"
		init-method="init" destroy-method="destroy">
		<!-- Each ID namespace is a Redis key, which can be prefixed by this property -->
		<property name="prefix" value="id-server-" />
		<property name="idGenerator">
			<bean class="com.github.ddth.id.RedisIdGenerator" init-method="init"
				destroy-method="destroy">
				<property name="redisHost" value="localhost" />
				<property name="redisPort" value="6379" />
				<!-- uncomment the following 2 properties to set redis username & password -->
				<!-- <property name="redisUser" value="username" /> <property name="redisPassword" 
					value="s3cr3t" /> -->
				<property name="redisPoolConfig">
					<bean class="com.github.ddth.redis.PoolConfig">
						<!-- Maximum 4 connections to Redis server -->
						<property name="maxActive" value="8" />
						<!-- Maintain minimum 1 connections to Redis server while idle -->
						<property name="minIdle" value="1" />
						<property name="testOnBorrow" value="true" />
						<property name="testWhileIdle" value="true" />
						<!-- Maximum wait time (in millisec) to borrow a Redis connection from 
							pool -->
						<property name="maxWaitTime" value="3000" />
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="ENGINE_SNOWFLAKE" class="engine.SnowflakeIdEngine"
		lazy-init="true" init-method="init" destroy-method="destroy">
		<!-- Snowflake Engine: each instance of ID-Server should have a unique 
			node-id. Use value of -1 to let the engine automatically calculate its node-id. -->
		<property name="nodeId" value="-1" />
	</bean>

	<bean id="ENGINE_ZOOKEEPER" class="engine.ZookeeperIdEngine"
		lazy-init="true" init-method="init" destroy-method="destroy">
		<property name="idGenerator">
			<bean class="com.github.ddth.id.ZookeeperIdGenerator"
				init-method="init" destroy-method="destroy">
				<property name="zookeeperConnString" value="localhost:2181/id-server" />
			</bean>
		</property>
	</bean>

	<!-- beans for development env -->
	<beans>
	</beans>

	<!-- beans for production env -->
	<beans profile="prod,production">
	</beans>
</beans>